html, body {
    font-size: 10px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  /*style bg image*/
  body {
    background: url("/images/tennis-court-surface.png") no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    color: #333;
    font: 1.8em / 1.8 Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }