<div class="navbar">
  <!-- Logo in container -->
  <div class="logo-container">
    <img src="/images/gk26.png" class="logo" alt="gk26 Logo">
  </div>

  <!--nav-links /connected pages -->
  <div class="nav-links">
    <a href="/" class="con-page {{#if isHome}}active{{/if}}">Αρχική</a>
    <a href="/ghpeda" class="con-page {{#if isGhpeda}}active{{/if}}">Γήπεδα</a>
    <a href="/tmimata" class="con-page {{#if isTmimata}}active{{/if}}">Τμήματα</a>
    <a href="/tournoua" class="con-page {{#if isTournoua}}active{{/if}}">Τουρνουά</a>
    <a href="/anakoinoseis" class="con-page {{#if isAnakoinoseis}}active{{/if}}">Ανακοινώσεις</a>
    <a href="/epikoinonia" class="con-page {{#if isEpikoinonia}}active{{/if}}">Επικοινωνία</a>
    <a href="#" class="con-page" id="connection">Σύνδεση</a>
  </div>
</div>

