<section>
<div class="wrapper">
      <div id="main-content">

        <div class="content-row">

          <!--left box-->
          <div class="left-box">
            <h2 class="hours">Ώρες Λειτουργίας Γηπέδων</h2>
            <!--hours-table-->
            <div class="hours-table">
              <!--Monday-->
              <div class="row">
                <div class="label">Δευτέρα:</div>
                <div class="value">08:00 - 22:00</div>
              </div>
              <!--Tuesday-->
              <div class="row">
                <div class="label">Τρίτη:</div>
                <div class="value">08:00 - 22:00</div>
              </div>
              <!--Wednesday-->
              <div class="row">
                <div class="label">Τετάρτη:</div>
                <div class="value">08:00 - 22:00</div>
              </div>
              <!--Thursday-->
              <div class="row">
                <div class="label">Πέμπτη:</div>
                <div class="value">08:00 - 22:00</div>
              </div>
              <!--Friday-->
              <div class="row">
                <div class="label">Παρασκευή:</div>
                <div class="value">08:00 - 22:00</div>
              </div>
              <!--Saturday-->
              <div class="row">
                <div class="label">Σάββατο:</div>
                <div class="value">08:00 - 23:00</div>
              </div>
              <!--Sunday-->
              <div class="row">
                <div class="label">Κυριακή:</div>
                <div class="value">08:00 - 23:00</div>
              </div>
            </div>
          </div>

          <!--right-box-->
          <div class="right-box">
            <h2>Ανακοινώσεις:</h2>
            <p>Εδώ θα φορτώνονται οι τελευταίες ανακοινώσεις (όσες χρειάζονται για να έχει παρόμοιο μέγεθος με τον αριστερό πίνακα)</p>
          </div>

        </div>
        
    </div>
  </div>



</section>