<section>
 <div class="wrapper">
      <div id="main-content">
        <div class="content-row">

          <div class="box">
            <h2 class="epikefalida-tmhmatvn">Κατηγορίες Τμημάτων:</h2>
            <!--kathgories-tmhmatvn-->
            <div class="kathgories-tmhmatvn">
              <div class="row">
                <!-- akadhmies-->
                <table class="akadhmies">
                    <tr>
                      <td class="logo-tmhma">
                        <!--θα προσθεθουν εικόνες και θα διορθωθει το path (μεσα στον public\images) -->
                        <img src="img1.jpg" alt="Εικόνα 1">
                      </td>
                      <td class="epejhghsh" colspan="3">
                        <h3>Ακαδημίες</h3>
                        <p>Από την ηλικία των 4 ετών, τα παιδιά μπορούν να 
                            ξεκινήσουν τα πρώτα τους βήματα στο τένις μέσα 
                            από τα τμήματα ακαδημιών μας, μαθαίνοντας το 
                            άθλημα μέσα από το παιχνίδι και τη διασκέδαση!</p>
                      </td>
                      <td class="action-button">
                        <button class="apply-btn">Αίτηση</button>
                      </td>
                    </tr>

                    </table>
              </div>

              <div class="row">
                    <!--agvnistika-->
                <table class="agvnistika">
                    <tr>
                      <td class="logo-tmhma">
                        <img src="img1.jpg" alt="Εικόνα 1">
                      </td>
                      <td class="epejhghsh" colspan="3">
                        <h3>Αγωνιστικά</h3>
                        <p>Για όσους θέλουν να συμμετέχουν σε αγώνες,
                             να εξελιχθούν και να ζήσουν τη δυναμική 
                             πλευρά του τένις μέσα από την αγωνιστική
                              εμπειρία!</p>
                      </td>
                      <td class="action-button">
                        <button class="apply-btn">Αίτηση</button>
                      </td>
                    </tr>
                    
                    </table>
              </div>

              <div class="row">
                    <!--enhlikvn-->
                <table class="enhlikvn">
                    <tr>
                      <td class="logo-tmhma">
                        <img src="img1.jpg" alt="Εικόνα 1">
                      </td>
                      <td class="epejhghsh" colspan="3">
                        <h3>Ενηλίκων</h3>
                        <p>Η ακαδημία μας προσφέρει τμήματα για
                             ενήλικες κάθε επιπέδου — από αρχάριους
                              που θέλουν να γνωρίσουν το τένις και 
                              να αθληθούν, μέχρι προχωρημένους που 
                              επιθυμούν να βελτιώσουν την τεχνική 
                              τους και να ανεβάσουν το παιχνίδι τους!</p>
                      </td>
                      <td class="action-button">
                        <button class="apply-btn">Αίτηση</button>
                      </td>
                    </tr>
                    
                    </table>
              </div>

              <div class="row">
                    <!--eidika-tmhmata-->
                <table class="eidika-tmhmata">
                    <tr>
                      <td class="logo-tmhma">
                        <img src="img1.jpg" alt="Εικόνα 1">
                      </td>
                      <td class="epejhghsh" colspan="3">
                        <h3>Ειδικά Τμήματα</h3>
                        <p>Για όσους θέλουν εντατικά και 
                            πιο στοχευμένα μαθήματα, προσφέρουμε 
                            ατομικά τμήματα προπόνησης με την 
                            καθοδήγηση των έμπειρων προπονητών μας,
                             προσαρμοσμένα στις ανάγκες και τους 
                             στόχους κάθε αθλητή.</p>
                      </td>
                      <td class="action-button">
                        <button class="apply-btn">Αίτηση</button>
                      </td>
                    </tr>
                    
                    </table>


              </div>
              
            </div>
          </div>



        </div>
        
    </div>
  </div>

</section>