<section>

  <div class="wrapper">
    <!--main content-->
<div id="main-content">
  <!--content column-->
  <div class="tournament-column">

    <!-- Info Box -->
    <div class="tournament-box">
      <h2 class="section-title">Σχετικά με τα τουρνουά.</h2>
      <h4 class="sub-heading"><em>Είσαι έτοιμος να δοκιμάσεις τις ικανότητές σου στο γήπεδο;</em></h4>
      <p>Το <strong>GK26</strong> διοργανώνει κάθε χρόνο δύο συναρπαστικά τουρνουά για τα μέλη του!<br>
        Η <strong>περίοδος διεξαγωγής</strong> τους είναι Οκτώβριος - Νοέμβριος - Δεκέμβριος και
          Μάρτιος - Απρίλιος - Μάιος αντίστοιχα.<br> Κάθε τουρνουά περιλαμβάνει <strong>τέσσερις κατηγορίες</strong>:
          παιδιών, γυναικών, αντρών και mix για να μην μείνει κανένας παίχτης εκτός.
         </p>
         <p>Γιατί στο <strong>GK26</strong> δεν παίζεις απλώς τένις - ζεις την εμπειρία!</p>
    </div>

<!-- Participation Buttons (Modal Triggers) -->
<div class="tournament-box">
  <h2 class="section-title">Δήλωσε Συμμετοχή!</h2>
  <div class="center-buttons">
    <button class="tournament-btn" onclick="showCustomCreatePopup('Χειμερινό')">Χειμερινό Τουρνουά</button>
    <button class="tournament-btn" onclick="showCustomCreatePopup('Καλοκαιρινό')">Καλοκαιρινό Τουρνουά</button>
  </div>
</div>


<!--enhmervsoy-->
<div class="tournament-results-box">
  <h2 class="section-title">Ενημερώσου!</h2>
  <h4 class="sub-heading"><em>Σχετικά με...</em></h4>

  <div class="dropdown-wrapper">
    <!-- Χειμερινά Τουρνουά -->
    <div class="dropdown dropdown-winter">
      <button class="dropbtn">Χειμερινά Τουρνουά <i class="fa fa-caret-down"></i></button>
      <div class="dropdown-content">

          <div class="sub-dropdown">
            <a href="#">2025</a>
            <div class="sub-dropdown-content">
              <!--links pdf-->
              <a href="">📅 Πρόγραμμα</a>
              <a href="">🏆 Αποτελέσματα</a>
            </div>
          </div>
  
  
          <div class="sub-dropdown">
            <a href="#">2024</a>
            <div class="sub-dropdown-content">
              <!--links pdf-->
              <a href="">📅 Πρόγραμμα</a>
              <a href="">🏆 Αποτελέσματα</a>
            </div>
          </div>
   </div>
</div>
    <!-- Καλοκαιρινά Τουρνουά -->
    <div class="dropdown dropdown-summer">
      <button class="dropbtn">Καλοκαιρινά Τουρνουά <i class="fa fa-caret-down"></i></button>
      <div class="dropdown-content">

        <div class="sub-dropdown">
          <a href="#">2025</a>
          <div class="sub-dropdown-content">
            <!--links pdf-->
            <a href="">📅 Πρόγραμμα</a>
            <a href="">🏆 Αποτελέσματα</a>
          </div>
        </div>


        <div class="sub-dropdown">
          <a href="#">2024</a>
          <div class="sub-dropdown-content">
            <!--links pdf-->
            <a href="">📅 Πρόγραμμα</a>
            <a href="">🏆 Αποτελέσματα</a>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>



  
    <!--end main content-->
    </div>
  <!--end wrapper-->
  </div>


<div id="modalContainer" style="display:none;" class="modal-overlay">
  <div class="modal-box" id="modalContent"></div>
</div>
<div id="modalContainer1" style="display:none;" class="modal-overlay1">
  <div class="modal-box1" id="modalContent1"></div>
</div>
</div>

</section>