<section>

<div class="wrapper">
<div id="main-content">
  <div class="tournament-column">

    <!-- Info Box -->
    <div class="tournament-box">
      <h2 class="section-title">Σχετικά με τα τουρνουά.</h2>
      <h4 class="sub-heading"><em>Είσαι έτοιμος να δοκιμάσεις τις ικανότητές σου στο γήπεδο;</em></h4>
      <p>Το <strong>GK26</strong> διοργανώνει κάθε χρόνο δύο συναρπαστικά τουρνουά για τα μέλη του!<br>
        Η <strong>περίοδος διεξαγωγής</strong> τους είναι Οκτώβριος - Νοέμβριος - Δεκέμβριος και
          Μάρτιος - Απρίλιος - Μάιος αντίστοιχα.<br> Κάθε τουρνουά περιλαμβάνει <strong>τέσσερις κατηγορίες</strong>:
          παιδιών, γυναικών, αντρών και mix για να μην μείνει κανένας παίχτης εκτός.
         </p>
         <p>Γιατί στο <strong>GK26</strong> δεν παίζεις απλώς τένις - ζεις την εμπειρία!</p>
    </div>

<!--Apply Buttons -->
<div class="tournament-box">
  <h2 class="section-title">Δήλωσε Συμμετοχή!</h2>
  <div class="center-buttons">
    <button class="tournament-btn" onclick="openModal('winterForm')">Χειμερινό Τουρνουά</button>
    <button class="tournament-btn" onclick="openModal('summerForm')">Καλοκαιρινό Τουρνουά</button>
  </div>
</div>


<!--Updates-->
<div class="tournament-results-box">
  <h2 class="section-title">Ενημερώσου!</h2>
  <h4 class="sub-heading"><em>Σχετικά με...</em></h4>

  <div class="dropdown-wrapper">
    <!-- Χειμερινά Τουρνουά -->
    <div class="dropdown dropdown-winter">
      <button class="dropbtn">Χειμερινά Τουρνουά <i class="fa fa-caret-down"></i></button>
      <div class="dropdown-content">

          <div class="sub-dropdown">
            <a href="#">2025</a>
            <div class="sub-dropdown-content">
              <!--links pdf-->
              <a href="">📅 Πρόγραμμα</a>
              <a href="">🏆 Αποτελέσματα</a>
            </div>
          </div>
  
  
          <div class="sub-dropdown">
            <a href="#">2024</a>
            <div class="sub-dropdown-content">
              <!--links pdf-->
              <a href="">📅 Πρόγραμμα</a>
              <a href="">🏆 Αποτελέσματα</a>
            </div>
          </div>
   </div>
</div>
    <!-- Καλοκαιρινά Τουρνουά -->
    <div class="dropdown dropdown-summer">
      <button class="dropbtn">Καλοκαιρινά Τουρνουά <i class="fa fa-caret-down"></i></button>
      <div class="dropdown-content">

        <div class="sub-dropdown">
          <a href="#">2025</a>
          <div class="sub-dropdown-content">
            <!--links pdf-->
            <!--θα προστεθουν τα pdf απο την βαση-->
            <a href="">📅 Πρόγραμμα</a>
            <a href="">🏆 Αποτελέσματα</a>
          </div>
        </div>


        <div class="sub-dropdown">
          <a href="#">2024</a>
          <div class="sub-dropdown-content">
            <!--links pdf-->
            <a href="">📅 Πρόγραμμα</a>
            <a href="">🏆 Αποτελέσματα</a>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>



  
    </div>
  </div>

  </section>