<!DOCTYPE html>
<html lang="el">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>

  <link rel="icon" type="image/png" sizes="32x32" href="/images/gk26.png">



  <!--basic links-->
  <link rel="stylesheet" href="/css/navbar.css">
  <script type="module" src="/js/Actions.mjs" defer></script>
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


  <!--dynamic links-->
  <!--css files-->
  {{#if extraCss}}
  <link rel="stylesheet" href="/css/{{extraCss}}">
  {{/if}}

<!---js files-->
{{#if extraScript}}
  <script src="/js/{{extraScript}}" {{#if defer}}defer{{/if}} type="module"></script>
{{/if}}


</head>
<body>

  {{> navbar }}


  <main>
    {{{body}}}
  </main>

  {{> footer }}

</body>
</html>
